psycopg2-binary
psycopg[binary]
tabulate
gunicorn
fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
alembic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
PyJWT
httpx
cachetools
redis
requests